.informationPane {
  margin-top: 30px;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: white;
}

.flag-icon {
  max-width: 30px;
}

.informationPaneSubtitle {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.1em;
}

@media all and (min-width: 736px) { 
  .informationPane {
    margin-top: 0;
  } 
  .flag-icon {
    max-width: 60px;
  }
  .informationPaneTitle {
    font-size: 2em;
  }
  .informationPaneSubtitle {
    font-size: 1.4em;
  }

  .informationPane p {
    font-size: 1.3em;
  }
  .informationPane li {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}