.currencyConverter {
  padding-bottom: 30px;
}
.currencyInput {
  
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-width: 80px;
  padding: 2px 5px;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 5px
}