.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formPane, .informationPane {
  padding: 0 10px;
  width: 100%;
}

@media all and (min-width: 736px) { 
  .App {
    flex-direction: row;
  }
  .formPane, .informationPane {
    padding: 30px;
    height: 100vh;
  }
 } 